# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Portable Runtimes
.env
.venv
env/
venv/
ENV/
runtime/
backups/
*.backup*

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test artifacts
file

